
<div class="btn-group" style="margin: 15px;">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Sort
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)=" lowtoHighSort()">Low to High</a></li>
      <li><a class="dropdown-item" (click)="hightoLowSort()" >High To Low</a></li>
      <li><a class="dropdown-item" (click)="sortByCategory()" >Sort By Category</a></li>
      <li><a class="dropdown-item" (click)="sortByRating()" >Sort By Rating</a></li>

    </ul>
  </div>

<div class="container">
    <div class="row align-item-center">
        <ng-container *ngFor="let v of products ,let i = index">
            <div class="card col-md-3 shadow p-3 mb-5 bg-body bg-dark rounded">
                <img src="{{v.image}}" alt="...">
                <div class="card-body">
                    <h6>category: {{v.category}}</h6>
                    <h5 style="white-space: nowrap; overflow:hidden;text-overflow: ellipsis;">{{v.title}}</h5>
                    <p style="white-space: nowrap; overflow:hidden;text-overflow: ellipsis;">{{v.description}}</p>
                    <p><strong>Price :- </strong>${{v.price}}</p>
                    <hr />
                    <h5><ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating></h5>
                </div>
                <a routerLink="/admin" style="margin: 15px;"> Go to admin work</a>
            </div>
        </ng-container>
    </div>
</div>


